<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <div class="container login-page mt-5">
            <div class="row">
                <div class="col d-flex flex-column justify-content-center m-auto">
                    <h1 class="heading text-center">Create a Blog</h1>
                    <label><b>Title</b></label>
                    <input type="text" placeholder="Enter Title" name="ftitle" required  class="input-box"><br><br>
        
                    <label><b>Description</b></label>
                    <textarea class="row-10 col-20 text-box" placeholder="Enter description" name="fdescription" required></textarea><br><br>
        
                    <button type="submit" class="btn btn-success blog-submit">Submit</button>
                </div>
            </div>
        
        </div>
    </form>
</body>
</html>